@import "fonts";
@import "reset";





.page--header {
  margin-top: 0;
  background-color: #5f9ea0;

  .header__inner {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding-top: 0.5em;
  }

  .header__item {
    display: inline-block;
    margin: 0 0.5em;

    & a {
      padding: 0.7em;
    }
  }
}

.page--main {
  min-width: 0;
}

.page--footer {
  color: #fff;
  background-color: rgba(0, 0, 0, .4);
  padding: 1em;

}




.main-menu {
  width: 100%;
  padding: 1em 0;
  display: flex;
  flex-wrap: wrap;
  gap: .5em;

  &__item {
    flex: 1 1 250px;
    text-align: center;
    border: 1px solid black;
    border-radius: .3em;

    &:hover {
      box-shadow: 2px 2px 3px 2px silver;
    }
  }

  &__item a {
    display: block;
    padding: .5em 1em;
  }
}






.export-import__box {
  display: flex;
  justify-content: space-between;
}






.content-switcher-example {

  padding: 0 0 25px 0;
  border-bottom: 1px solid black;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  .checkout {
    display: flex;
    gap: 5px;
    flex-direction: column;
    width: 350px;
    padding: 5px;
    background-color: cadetblue;

    .tab-list {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 5px;
      font-size: 1.3em;
    }

    .tab-list li {
      padding: .5em 0;
      border: 2px solid black;
      flex: 1;
      text-align: center;
      transition: flex 0.4s;
      cursor: pointer;
    }

    .tab-list li.is-active {
      flex: 2;
    }

    .content-list {
      display: flex;
      border: 2px solid black;
      width: 100%;
      overflow: hidden;
    }

    .content-item {
      display: none;
      background-color: rgb(196, 146, 146);
      width: 100%;
      padding: 3em 0;
      text-align: center;
    }

    .is-active {
      display: block;
    }

  }

}











section.svg {

  .svgBoxOne {
    width: 350px;
    height: 300px;
    border: 1px solid coral;
    overflow: hidden;
  }

  .svgAnimOne img {
    transform: translateY(-16700px);
    transition-property: transform;
    transition-duration: 4s;
    transition-timing-function: steps(56, start);
  }

  .svgBoxTwo {
    width: 500px;
    height: 300px;
    border: 1px solid coral;
    overflow: hidden;
  }

  .svgAnimTwo img {
    transform: translateY(-14045px);
    transition-property: transform;
    transition-duration: 3s;
    transition-timing-function: steps(47, start);
  }

  .svgBoxThree {
    width: 350px;
    height: 300px;
    border: 1px solid coral;
    overflow: hidden;
  }

  .svgAnimThree img {
    transform: translateY(-16700px);
    transition-property: transform;
    transition-duration: 3s;
    transition-timing-function: steps(56, start);
  }

  .svgBoxFour {
    width: 350px;
    height: 300px;
    border: 1px solid coral;
    overflow: hidden;
  }

  .svgAnimFour img {
    transform: translateY(-8650px);
    transition-property: transform;
    transition-duration: 2s;
    transition-timing-function: steps(29, start);
  }



  svg.home:hover {
    animation-name: home-anim;
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
  }

  svg.home {
    fill: none;
    stroke: black;

    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    stroke-linecap: round;

    stroke-dasharray: 0;
    stroke-dashoffset: 0;
  }

  svg.home .top,
  svg.home .bottom {
    stroke-width: 2px;
  }

  @keyframes home-anim {

    0% {
      stroke-dashoffset: 1;
    }

    50% {
      stroke-dasharray: 1.1;
      stroke-dashoffset: 0;
    }

    100% {
      stroke-dashoffset: 1;
    }

  }



}


.mask-image__one {
  mask-image: url(../img/mask-image-one.svg);
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;
}

.mask-image__two {
  clip-path: url(#pathSvg-1);
}

.mask-image-2 {
  mask-image: url("../img/svg-mask-image-1.png");
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
}

.mask-image-3 {
  mask-image: url("../img/svg-mask-image-3.png");
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: 0% 0%;
}

.mask-image-4 {
  mask-image:
    url("../img/svg-mask-image-3.png"),
    url("../img/svg-mask-image-4.png"),
    url("../img/svg-mask-image-4-2.png");
  mask-repeat: no-repeat;
  mask-size: 100px;
  mask-position: 0% 50%, 100% 50%, 50% 100%;

}






#polygon-evenodd,
#polygon-nonzero,
#circle-evenodd,
#circle-nonzero {
  fill: turquoise;
  fill-opacity: .7;
  stroke: lightseagreen;
  stroke-width: 10px;
  stroke-linejoin: round;
}

svg.polygon-evenodd,
svg.circle-evenodd {
  fill-rule: evenodd;
}





.filter-drop-shadow {

  & .drop-shadow__inner {
    display: flex;
    justify-content: space-around;

    & figure>img {
      border: 1px solid red;
      filter: drop-shadow(85px 20px 0px #00000070);
    }
  }

  & .drop-shadow-multiple {
    padding: 3em 0;
    display: flex;
    justify-content: space-around;

    & div {
      max-width: 200px;
      width: 100%;
      height: 100px;
      filter: drop-shadow(55px 35px 1px rgb(143, 58, 58));
      border: 1px solid #000;

      &:nth-child(2)>div {
        filter: drop-shadow(10px 10px 1px rgb(0, 0, 0));
      }

      &:nth-child(3) {
        background-color: rgba(7, 127, 141, 0.402);
      }

      &>div {
        width: 50px;
        height: 50px;
        background-color: rgb(69, 52, 69);
        margin: 1em;
      }
    }

  }
}






.performance {
  padding: 0.5em;
  background-color: #3d59591e;
  border-radius: 5px;
  margin: 0.5em;

  &>*:not(:last-child) {
    margin-bottom: 0.3em;
  }

}



div>*,
section>* {
  margin: 0.3em 0;
}


.show-piece>ul {
  margin-left: 1em;
}


.container>section {
  border-radius: .2em;
}

.container>section>* {
  margin-bottom: 0.3em;
}

.container>section>section>* {
  margin-bottom: 0.2em;
}

.container>section>h2:first-of-type {
  text-align: center;
}



.js__structures>div>*:not(:last-child) {
  margin-bottom: 0.3em;
}

.show-block {
  border: 1px solid rgb(164, 163, 163);
  border-radius: .2em;
  padding: 10px;
  /* margin: .5em 0 1em; */
}

.show-piece {
  border: 1px solid rgb(164, 163, 163);
  border-radius: .2em;
  margin: .2em 0;
  background-color: rgba(215, 185, 185, 0.655);
}

.show-block>summary,
.show-piece>summary {
  position: relative;
  user-select: none;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.7);
}

.show-block>summary {
  padding: .5em 0;
  text-align: center;
  color: #000;
}

.show-piece>* {
  padding-left: .5em;
}

.show-piece>summary {
  padding: .5em;
}

summary::marker,
summary::-webkit-details-marker {
  display: none;
  content: "";
}

.show-block>summary::before {
  position: absolute;
  content: "+";
  right: 10px;
}

.show-piece>summary::before {
  content: "+";
  position: absolute;
  right: 10px;
}

.show-block[open]>summary::before {
  content: "-";
}

.show-piece[open]>summary::before {
  content: "-";
}










.semantics {
  .hierarchy {
    color: rgb(24, 22, 22);
    max-width: 800px;

    &__title {
      margin: 0;
      font-size: 1em;
    }

    &__inner,
    &__inner div {
      border: 1px solid black;
      padding: 0.5em;
      text-align: center;
    }

    & h1 {
      position: relative;
    }

    & h1>span {
      position: absolute;
      left: 52%;
      top: 7px;
      color: silver;
    }

    & .grid {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: repeat(5, auto);
      gap: 0.5em;
    }

    & .grid>div:last-child {
      grid-row: 1/-1;
      grid-column: 2/3;
    }

    & .grid>div:last-child>div {
      height: 91%;
    }

    &__title {
      margin: 0.5em 0;
    }

    &__h6 {
      height: 90%;
      background: rgba(168, 73, 73, 0.568);
    }

    &__h5 {
      background: rgba(39, 79, 119, 0.7);
    }

    &__h4 {
      background: rgba(120, 140, 160, 0.7);
    }

    &__h3 {
      background: rgba(164, 161, 61, 0.827);
    }

    & div:has(h1) {
      background: rgba(50, 40, 10, 0.7);
    }

  }
}






/* html */


.html {

  & .text-align {

    & ul {
      width: 335px;
      padding: 1em;
      background-color: rgb(253, 236, 203);
    }

    & li {
      border: 1px solid black;
      margin-bottom: -1px;
      padding: 0.1em .3em;
    }

    & h3 {
      margin-bottom: 0.4em;
    }

  }


  .media {

    & .video-wrapper {
      position: relative;

      /* разрешение 16/19   */
      width: 100%;
      height: 0;
      padding-bottom: 56.25%;

      background: #000;


    }

    & .video-wrapper__media {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none;
    }

    & .video-wrapper__button {
      position: absolute;
      /* по умолчанию прячем что бы при замене */
      /* картинки на видео кнопка пряталась */
      display: none;
      border: none;
      border: none;
      height: 48px;
      width: 68px;
      padding: 0;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: transparent;
      outline: none;
    }


    & .video-wrapper--enabled {
      cursor: pointer;
    }

    & .video-wrapper--enabled .video-wrapper__button {
      display: block;
    }

    & .video-wrapper__button-shape {
      fill: #212121;
      fill-opacity: 0.8;
    }

    & .video-wrapper:hover .video-wrapper__button-shape,
    & .video-wrapper__button:focus .video-wrapper__button-shape {
      fill: tomato;
      fill-opacity: 1;
    }

    & .video-wrapper__button-icon {
      fill: white;
    }
  }

}




.media {

  table {
    max-width: 100%;
    width: 100%;
    border-collapse: collapse;
    border: 2px solid rgb(200, 183, 178);
  }

  td,
  td {
    border: 1px solid rgb(200, 183, 178);
    padding: 1em;
  }

  caption {
    margin: 2em 0 .3em;
    font-weight: bold;
  }

}




.box-shadow {

  & button {
    width: 250px;
    padding: 0.5em;
    margin: 1em;
    border: none;
  }

  &__button-one {
    box-shadow:
      0 0 2px 1px red,
      0 0 2px 2px orange,
      0 0 2px 3px #ff0,
      0 0 2px 4px green,
      0 0 2px 5px #add8e6,
      0 0 2px 6px blue,
      0 0 2px 7px violet;
  }

  &__button-two {
    box-shadow:
      -6px -6px 8px -4px rgba(255, 0, 0, .75),
      6px -6px 8px -4px rgba(0, 255, 0, .75),
      6px 6px 8px -4px rgba(255, 255, 0, .75),
      -6px 6px 8px -4px rgba(0, 0, 255, .75);
  }

  &__button-three {
    box-shadow:
      inset 0 0 8px orange,
      1px 1px 3px blue;
  }

  &__button-four {
    box-shadow:
      0 1px red,
      0 3px 3px -2px black;
  }

  & .shadow-softening {

    &__one {
      box-shadow:
        0 1px 1px rgba(0, 0, 0, .15),
        0 2px 2px rgba(0, 0, 0, .15),
        0 4px 4px rgba(0, 0, 0, .15),
        0 8px 8px rgba(0, 0, 0, .15);
    }

    &__two {
      box-shadow:
        0 1px 1px rgba(0, 0, 0, .11),
        0 2px 2px rgba(0, 0, 0, .11),
        0 4px 4px rgba(0, 0, 0, .11),
        0 8px 8px rgba(0, 0, 0, .11),
        0 16px 16px rgba(0, 0, 0, .11),
        0 32px 32px rgba(0, 0, 0, .11);
    }

    &__three {
      box-shadow:
        0 1px 2px rgba(0, 0, 0, .07),
        0 2px 4px rgba(0, 0, 0, .07),
        0 4px 8px rgba(0, 0, 0, .07),
        0 8px 16px rgba(0, 0, 0, .07),
        0 16px 32px rgba(0, 0, 0, .07),
        0 32px 64px rgba(0, 0, 0, .07);
    }

    &__four {
      box-shadow:
        0 1px 1px rgba(0, 0, 0, .11),
        0 2px 2px rgba(0, 0, 0, .11),
        0 4px 4px rgba(0, 0, 0, .11),
        0 6px 8px rgba(0, 0, 0, .11),
        0 8px 16px rgba(0, 0, 0, .11);
    }

    &__five {
      box-shadow:
        0 2px 1px rgba(0, 0, 0, .09),
        0 4px 2px rgba(0, 0, 0, .09),
        0 8px 4px rgba(0, 0, 0, .09),
        0 16px 8px rgba(0, 0, 0, .09),
        0 32px 16px rgba(0, 0, 0, .09);
    }
  }
}







.grid {

  .grid-area__box {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1em;
  }

  .grid__image {
    min-width: 0;
  }

  .grid-area__inner>* {
    margin: 0;
  }

  .grid-area__inner {
    border: 1px solid #000;
    max-width: 300px;
    width: 100%;
    min-height: 250px;

    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "header header  header  header"
      "main   main    .       aside"
      "footer footer  footer  footer";
  }

  .grid-header {
    grid-area: header;
    background-color: rgba(255, 0, 0, 0.327);
  }

  .grid-main {
    grid-area: main;
    background-color: rgba(169, 38, 193, 0.475);
  }

  .grid-aside {
    grid-area: aside;
    background-color: rgba(65, 155, 145, 0.517);
  }

  .grid-footer {
    grid-area: footer;
    background-color: rgb(173, 195, 114);
  }







  .auto-fill {
    margin-bottom: 1em;
    display: grid;
    gap: .7em;
    grid-template-columns: repeat(auto-fill, minmax(3em, 1fr));
    grid-auto-rows: 3em;
    border: 1px solid coral;
    padding: .3em;

    cursor: pointer;
  }

  .auto-fit {
    display: grid;
    gap: .7em;
    grid-template-columns: repeat(auto-fit, minmax(3em, 1fr));
    grid-auto-rows: 3em;
    border: 1px solid coral;
    padding: .3em;
    margin-bottom: 3em;

    cursor: pointer;
  }

  .adaptive-flex {
    display: flex;
    flex-flow: row wrap;
    border: 1px solid coral;
    padding: .3em;
    gap: .7em;

    cursor: pointer;
  }

  .auto-fill__item,
  .auto-fit__item,
  .adaptive-flex__item {
    border: 1px solid black;
  }

  .adaptive-flex__item {
    height: 3em;
    flex: 1 1 3em;
  }

  .gridAnimationAuto {
    animation-name: animOne;
    animation-duration: 10s;
    transition-timing-function: ease-out;
  }

  @keyframes animOne {
    0% {
      width: 100%;
    }

    50% {
      width: 5%;
    }

    100% {
      width: 100%;
    }
  }


  .grid-template__inner {
    padding: 1em 0;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 5em;
    gap: 1em;
  }

  .grid-template__item {
    background-color: rgba(183, 91, 91, 0.537);
    position: relative;
    text-align: center;
    padding-top: 1em;
    border-radius: .3em;
  }

  .grid-template__item span {
    font-size: 2em;
    color: rgb(0, 0, 0);
    position: absolute;
    bottom: .2em;
    right: .2em;
  }



  .grid-template__item:nth-child(1) {
    grid-row: 6 / 6;
  }

  .grid-template__item:nth-child(2) {
    grid-column: 2 / -1;
  }

  .grid-template__item:nth-child(3) {
    grid-row: 2 / 5;
  }

  .grid-template__item:nth-child(5) {
    grid-column: span 2;
    grid-row: span 3;
  }

  .grid-template__item:nth-child(8) {
    grid-area: 5 / 1 / 7 / 4;
  }

  .grid-template__item:nth-child(12) {
    grid-row: 1 / 1;
  }

  .grid-template__item:nth-child(14) {
    grid-column: 2 / 3;
    grid-row: 7 / 8;
  }

}

.float {

  .item {
    max-width: 500px;
    min-height: 210px;
    border: 1px solid black;
    margin-bottom: 1em;
  }

  .content {
    margin-left: 150px;
    background-color: rgba(0, 0, 0, .3);
    height: 100%;
  }

  .sitebar {
    max-width: 150px;
    width: 100%;
    min-height: 100px;
    background-color: rgba(128, 4, 4, 0.14);
    float: left;
  }
}



.table {

  .table-layout {

    figure {
      position: relative;
      width: 400px;
      padding-bottom: 20px;
      border: 1px solid blue;
      padding-left: 5px;
      padding-right: 1px;
      margin-bottom: 20px;
      margin-left: 0;
    }

    figure::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 3px;
      background: tomato;
    }

    figure::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 257px;
      width: 3px;
      background: tomato;
    }

    figure>table:not(:last-child) {
      margin-bottom: 20px;
    }

    figure>span {
      display: block;
      margin: 10px auto 0;
      padding-left: 100px;
      color: tomato;

      position: relative;
      bottom: -18px;
    }

    figure>span::before {
      content: "<<<";
      position: absolute;
      left: 0px;
      top: 2px;
    }

    figure>span::after {
      content: ">>>";
      position: absolute;
      left: 200px;
      top: 2px;
    }




    table {
      border: 1px solid black;
      border-spacing: 15px 5px;
    }

    th,
    td {
      border: 1px solid black;
      white-space: nowrap;
    }

    .table__one {
      table-layout: auto;
      width: 250px;
    }

    .table__two {
      table-layout: fixed;
      width: 250px;
    }

    .table__three {
      table-layout: fixed;
      width: 100%;
    }

    .table__four {
      table-layout: fixed;
      width: 100%;
    }
  }

  .border-collapse {


    .collapse {
      border-collapse: collapse;
    }

    .separate {
      border-collapse: separate;
    }

    .no-border__one {
      border-collapse: separate;
      border: none;
    }

    .no-border__two {
      border-collapse: collapse;
      border: none;
    }


    table {
      display: inline-table;
      border: dashed 5px;
      margin-bottom: 1em;
    }

    table th,
    table td {
      border: solid 3px;
    }

    .fx {
      border-color: orange blue;
    }

    .gk {
      border-color: black red;
    }

    .ed {
      border-color: blue gold;
    }

    .tr {
      border-color: aqua;
    }

    .sa {
      border-color: silver blue;
    }

    .wk {
      border-color: gold blue;
    }

    .ch {
      border-color: red yellow green blue;
    }

    .bk {
      border-color: navy blue teal aqua;
    }

    .op {
      border-color: red;
    }
  }

}






.swiper {
  user-select: none;
  padding: 20px;

  .swiper-slide img {
    display: block;
    margin: 0 auto;
  }

  .swiper-pagination-progressbar-fill {
    background: rgb(195, 100, 100);
  }

  &-scrollbar-drag {
    background: rgb(37, 24, 24);
  }
}






/*   css    */






.css {

  .fit-content {

    &__inner {
      border: 2px solid tomato;
      max-width: 300px;
    }

    &__inner div {
      border: 1px solid black;
      margin: 0 auto;
    }

    &__inner div:not(:last-child) {
      margin-bottom: 0.5em;
    }


    &__one {
      width: 100px;
    }

    &__two {
      width: min-content;
    }

    &__three {
      width: max-content;
    }

    &__four {
      width: fir-content;
    }
  }

  .transform {

    &>div {
      display: flex;
      padding: 1em 5px;
      border: 1px solid blue;
      margin-bottom: -1px;
      gap: 11px;

      perspective: 100px;

      max-width: 800px;
    }

    &>div>div {
      border: 1px solid black;
      padding: 0.3em 0.5em;
      transition: transform 500ms;
    }

    &>div>div:first-child {
      border: none;
      margin-right: auto;
    }

    & .translate div:nth-child(2):hover {
      transform: translate(-10px, 0px);
    }

    & .translate div:nth-child(3):hover {
      transform: translate(0px, -10px);
    }

    & .translate div:nth-child(4):hover {
      transform: translate3d(0px, 0px, 20px);
    }

    & .rotate div:nth-child(2):hover {
      transform: rotateX(50deg);
    }

    & .rotate div:nth-child(3):hover {
      transform: rotateY(40deg);
    }

    & .rotate div:nth-child(4):hover {
      transform: rotate(90deg);
    }

    & .rotate div:nth-child(5):hover {
      transform: rotate(-90deg);
    }

    & .skew div:nth-child(2) {
      transform: skew(10deg);
    }

    & .skew div:nth-child(3) {
      transform: skew(0, -10deg);
    }

    & .skew div:nth-child(4):hover {
      transform: skew(-50deg, 0);
    }

    & .scale div:nth-child(2):hover {
      transform: scale(-1);
    }

    & .scale div:nth-child(3):hover {
      transform: scale(2);
    }

    & .scale div:nth-child(4):hover {
      transform: scaleX(2);
    }

    & .scale div:nth-child(5):hover {
      transform: scaleY(2);
    }

    & .scale div:nth-child(6):hover {
      transform: scale(0.5);
    }

  }

  .nth-child {

    font-family: monospace;
    font-size: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;

    &__item {
      border: 1px solid silver;
    }

    &__table {
      border-collapse: collapse;
      margin-top: 20px;
    }

    &__table th,
    &__table td {
      border-bottom: 1px solid black;
      padding: 0.3em;
    }

    &__table th {
      padding-right: 1em;
      text-align: left;
    }

    &__table td>span {
      display: inline-block;
      border: 1px solid black;
      padding: 0 0.3em;
      text-align: center;
      margin-bottom: 0.1em;
    }

    &__tr-1 span:first-child {
      background-color: tomato;
    }

    &__tr-2 span:last-child {
      background-color: tomato;
    }

    &__tr-3 span:nth-child(2) {
      background-color: tomato;
    }

    &__tr-4 span:nth-last-child(2) {
      background-color: tomato;
    }

    &__tr-5 span:nth-child(odd) {
      background-color: tomato;
    }

    &__tr-6 span:nth-child(even) {
      background-color: tomato;
    }

    &__tr-7 span:nth-child(2n) {
      background-color: tomato;
    }


    &__tr-8 span:nth-child(n+3) {
      background-color: tomato;
    }

    &__tr-9 span:nth-child(-n+3) {
      background-color: tomato;
    }

    &__tr-10 span:nth-child(3n-1) {
      background-color: tomato;
    }

    &__tr-11 span:nth-child(4n-1) {
      background-color: tomato;
    }

    &__tr-12 span:nth-child(4n) {
      background-color: tomato;
    }

    &__how {
      display: inline-flex;
      flex-direction: column;
    }

    &__how>p {
      text-align: center;
    }

  }

}